[Unit]
Description=athocs api

[Service]
User=alex
Group=alex
WorkingDirectory=/home/alex/athocs
ExecStart=./api/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
